header {
  text-align: center;
  position: sticky;
}

img {
  height: 70px;
  margin: auto;
  padding: auto;
}

.forecastLabel {
  display: inline-block;
  font-weight: bold;
  padding: 2px;
}

.forecastCard {
  display: inline-block;
  width: 20%;
}

.cardsArtsAndEntertainment {
  background-color: lavender;
}

.cardsEvents {
  background-color: lightblue;
}

.cardsOutdoorsAndRecreation {
  background-color: lightgreen;
}

.cardsTravelAndTransport {
  background-color: lightpink;
}

.cardsFoodOptions{
  background-color:lightsteelblue;
}

.venueCard{
width: 50%;
display:inline-block;
}