header {
  text-align: center;
  position: sticky;
}

img {
  height: 70px;
  margin: auto;
  padding: auto;
}

.forecastLabel {
  display: inline-block;
  font-weight: bold;
  padding: 0px;
  width: auto;
}

.forecastCard {
  display: inline-block;
  width: 20%;
}

.cardsArtsAndEntertainment {
  background-color: lavender;
}

.cardsEvents {
  background-color: lightblue;
}

.cardsOutdoorsAndRecreation {
  background-color: lightgreen;
}

.cardsTravelAndTransport {
  background-color: lightpink;
}

.cardsFoodOptions{
  background-color:lightsteelblue;
}

.venueCard{
width: 60vw;
display:inline-block;
}

.card-text {
  text-align: center;
  padding: 10px;
  
}

@media only screen and (max-width: 425px) {
  .forecastCard {
    display: block;
    width: 100%;

    
  }
}