header {
  text-align: center;
  position: sticky;
}

img {
  height: 70px;
  margin: auto;
  padding: auto;
}

.forecastLabel {
  display: inline-block;
  font-weight: bold;
  padding: 2px;
}

.forecastCard {
  display: inline-block;
  width: 20%;
}